@use "../../styles/common.scss";

.button {
  background-color: common.$makerGreen;
  color: common.$makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.8;
  }
}
