@use "../../styles/common.scss";

.preview {
  flex-basis: 50%;

  .cardTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: common.$makerGreen;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5em 2em;
  }
}
